# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

# Markdown files are checked using markdownlint
[*.md]
indent_size = unset
max_line_length = unset
trim_trailing_whitespace = unset

[{*.yml,*.yaml,*.toml,*.css,*.html}]
indent_size = 2
max_line_length = 150

# Ignore paths
[{.git/**/*,LICENSE,**/Move.lock,mdbook-admonish.css,theme/**/*}]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
max_line_length = unset
trim_trailing_whitespace = unset
