# Editors/OS
**/.history/
**/.vscode/**
**/.idea/
.nvimrc
.DS_Store
!.vscode/extensions.json

# Custom pre-commit configuration
.custom-pre-commit-config.yaml

# Misc
*.key
.env
config.yml
working_dir
*.log
