repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.7.3
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.13.0
  hooks:
  - id: markdownlint-cli2
    args: ["--fix"]
    pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: v1.22.9
  hooks:
  - id: typos
    pass_filenames: false
- repo: local
  hooks:
  - id: mdBook
    name: Build mdBook if it is installed
    language: system
    entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
    files: 'book.toml|docs/.*'
    pass_filenames: false
