[book]
authors = ["Mysten Labs <build@mystenlabs.com>"]
language = "en"
multilingual = false
src = "docs"
title = "Walrus"

[build]
build-dir = "build"


[output.html]

[output.linkcheck]
optional = true
follow-web-links = true
warning-policy = "error"
exclude = [
  'walrus\.site', # No service worker in the link checker.
  'google\.com'
]
