name: Build and deploy GitHub Pages preview for PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - "book.toml"
      - "docs/**"
      - "theme/**"
      - ".github/actions/build-mdbook/action.yaml"
      - ".github/workflows/pages-preview.yaml"


concurrency: preview-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

jobs:
  build-with-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-mdbook
        if: github.event.action != 'closed'

  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-mdbook
        with:
          with_linkcheck: "false"
        if: github.event.action != 'closed'
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1.4.8
        with:
          source-dir: build/html
